.Button-flex{
    
    justify-content: space-between;
    display: flex;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-Columns {
    display: flex; 
}


body {
    background-color: rgb(23, 23, 80);
}
