* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    font-family: 'Times New Roman', Times, serif;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.Pads {
    width: 100%;
    display: flex;

}

.Pads > div     {
    height: 100px;
    width: 100px;
    flex: 1;
}

.Pad0 {
    background-color: red;
}

.Pad1 {
    background-color: blue;
}

.Pad2 {
    background-color: green;
}

.Pad3 {
    background-color: yellow;
}

.Pad4 {
    background-color: lightblue;
}

.Pad5 {
    background-color: gray;
}
